@page "/projects/create"
@using Microsoft.EntityFrameworkCore
@using TraineeRecord.Models
@inject IDbContextFactory<TraineeRecord.Data.TraineeRecordContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create project</PageTitle>

<h1>Create project</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Project" OnValidSubmit="AddProject" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Project.Name" class="form-control" /> 
                <ValidationMessage For="() => Project.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/projects">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Project Project { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Project.Add(Project);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects");
    }
}
