@page "/projects/delete"
@using Microsoft.EntityFrameworkCore
@using TraineeRecord.Models
@inject IDbContextFactory<TraineeRecord.Data.TraineeRecordContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Project</h2>
    <hr />
    @if (project is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@project.Name</dd>
        </dl>
        <EditForm method="post" Model="project" OnValidSubmit="DeleteProject" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(project is null)">Delete</button> |
            <a href="/projects">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Project? project;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        project = await context.Project.FirstOrDefaultAsync(m => m.Id == Id);

        if (project is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Project.Remove(project!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects");
    }
}
