@page "/projects"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TraineeRecord.Models
@using TraineeRecord.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TraineeRecord.Data.TraineeRecordContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projects/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Project">
    <PropertyColumn Property="project => project.Name" />

    <TemplateColumn Context="project">
        <a href="@($"projects/edit?id={project.Id}")">Edit</a> |
        <a href="@($"projects/details?id={project.Id}")">Details</a> |
        <a href="@($"projects/delete?id={project.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TraineeRecordContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
