@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using TraineeRecord.Models
@using TraineeRecord.Data
@implements IAsyncDisposable
@inject IDbContextFactory<TraineeRecord.Data.TraineeRecordContext> DbFactory

<p>
    <a href="orientations/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Orientation">
    <PropertyColumn Property="orientation => orientation.Name" />

    <TemplateColumn Context="orientation">
        <a href="@($"orientations/edit?id={orientation.Id}")">Edit</a> |
        <a href="@($"orientations/details?id={orientation.Id}")">Details</a> |
        <a href="@($"orientations/delete?id={orientation.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private TraineeRecordContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
