@page "/counter"
@rendermode InteractiveServer

<h1>Counter</h1>
<p>The counter value is @currentCount</p>
<button class="btn btn-primary" @onclick=IncrementCounter>Click me</button>

@code {
	private int currentCount;

	private void IncrementCounter()
	{
		currentCount++;
	}
}
