@page "/orientationsAndProjects"

<PageTitle>List</PageTitle>

<h1>Orientations And Projects</h1>

<div class="row">
	<div class="col-md-6">
		<TraineeRecord.Components.Pages.OrientationPages.Index></TraineeRecord.Components.Pages.OrientationPages.Index>
	</div>
	<div class="col-md-6">
		<TraineeRecord.Components.Pages.ProjectPages.Index></TraineeRecord.Components.Pages.ProjectPages.Index>
	</div>
</div>

@code {

}
